body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background: #413f3f;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #ffffff;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #ffffff;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #8733d1;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #ddb7ff;
}

.download-link, .back-link {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #8733d1;
    font-weight: bold;
}

download-link:hover, .back-link:hover {
    text-decoration: underline;
}
#spinner {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    z-index: 1000;
}

@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

#progress-container {
    width: 100%;
    background-color: #ddd;
    border-radius: 4px;
    margin-top: 20px;
    display: none; /* ซ่อนไว้ก่อน */
}

#progress-bar {
    width: 0%;
    height: 30px;
    background-color: #8733d1;
    text-align: center;
    line-height: 30px;
    color: white;
    border-radius: 4px;
}
